<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jnidemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="landscape"
        android:theme="@style/Theme.JniDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".SongChoosingActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            >
        </activity>

        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name=".SongActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            >
        </activity>
    </application>

</manifest>